# LaTeX auxiliary and intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.pdf
*.synctex
*.bcf
*.run.xml
*.thm
*.tdo
*.upa
*.upb
*.spl
*.slg
*.slo
*.sls
*.sbl
*.sbx
*.sbl
*.slo
*.sls
*.sbl
*.sbx
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc*
*.mlf*
*.nlo
*.nls
*.nlg
*.nls
*.out.ps
*.synctex(busy)
*.loa